.guess-number-label {
  font-family: "Custom Font";
  margin-right: 10px;
  line-height: 30px;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
}
.box {
  flex: 1 0 30%;
  display: inline-block;
  margin: 1px;
  border-radius: 2px;
  border: 1px solid black;
}

.correct {
  background: #27ae60;
}

.incorrect-spot {
  background: #e74c3c;
}

.incorrect {
  background: #fff;
}

.box-container {
  width: 30px;
  height: 30px;
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
}
