.number {
  font-size: 45px;
  --padding-start: 0px;
  --padding-end: 0px;
  font-family: "Custom Font";
  font-weight: bold;
  --border-radius: 2px;
  width: 60px;
  height: 60px;
}
.submit {
  --border-radius: 2px;
  width: 123px;
  height: 60px;
  --padding-start: 0px;
  --padding-end: 0px;
  font-size: 25px;
}
